
<p-menubar [model]="items">
  <ng-template pTemplate="start">
  </ng-template>
  <ng-template pTemplate="end">
    <div *ngIf="!userStore.isAuthenticated">
      <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-info p-button-text p-button-sm" [routerLink]="['/user/login']" label="Creator Login"></p-button>
    </div>
    <div *ngIf="userStore.isAuthenticated">
      <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-info p-button-text p-button-sm" (click)="logout()" label="Logout"></p-button>
    </div>
  </ng-template>
</p-menubar>

