  <h1 class="text-center">Hello!</h1>

  <div class="card">

    <h3>Technical challenge</h3>
    <div>Implement web app to track expenses</div>

    <div>
      <h4>What is implemented</h4>
      <ul>
        <li>Clean Architecture</li>
        <li>JWT Authentication</li>
        <li>Swagger API Interface</li>
        <li>In memory database</li>
        <li>Angular client with PrimeNg components and Application State (Token and Currency) </li>
      </ul>
    </div>

    <div>
      <h4>Project structure</h4>
      <ul>
        <li>Infranstructure</li>
        <li>Domain</li>
        <li>Application</li>
        <li>Api (presentation)</li>
        <li>ClientApp (angular application)</li>
      </ul>
    </div>

    <div>
      <h4>The best way to run the application:</h4>
      Enable multiple start up projects in Visual Studio and run both Api and ClientApp<br />
      Right click on the solution and select "Set Startup Projects"<br />
      Select "Multiple startup projects"<br />
      Set action to "Start" for both Api and ClientApp<br />
      Press Ctrl + F5 to run the application<br />
    </div>

  </div>
